:root{
    --a:0;
}

* {
    margin: 0;
    padding: 0;
}

.close {
    display: none;
}

body {
    background-color: hsl(30, 100%, 60%);
    color: #000000;

}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;

}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;

    font-weight: bold;
    align-items: center;
    font-size: 13px;

}

.heading img {
    width: 20px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 8px;
    color: black;
    gap: 15px;
    position: absolute;
    bottom: 0;
    padding: 5px;
}

.footer a {
    color: rgb(0, 0, 0);

}

.right {
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgba(253, 165, 0, 0.614);
}

.header>* {
    padding: 8px;

}

.BhajanPlaylist {
    padding: 16px;
}

.BhajanPlaylist h1 {
    padding: 16px;
}

.cardcontainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;
}

.logo {
    padding-top: -10px;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 4px;
    background-color: rgb(253, 165, 0, 0.614);
    position: relative;
    transition: all .9s;

}
.card:hover{
    background-color: rgb(255, 87, 51);
    cursor: pointer;
    --a:1;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    position: absolute;
    top: 153px;
    right: 14px;
    opacity: 0;
    transition: all 1s ease-out;
    opacity: var(--a);


}

.play:hover {
    opacity: inherit;
    font-weight: bolder;
    cursor: pointer;
}

.signupbtn {
    background-color: rgb(255, 87, 51);
    color: aliceblue;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    padding: 9px 19px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.signupbtn:hover {
    font-size: 1rem;
    color: black;
    /* Change the text color to black on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.loginbtn {
    background-color: rgb(255, 87, 51);
    color: aliceblue;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    padding: 9px 19px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;


}

.loginbtn:hover {
    font-size: 1rem;
    color: black;
    /* Change the text color to black on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.playbar {
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background-color: RGBA(0, 167, 204, 0.783);
    border-radius: 10px;
    width: 90%;
    padding: 2px;
    width: 69vw;
    min-height: 22px;


}



.songbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songslist {
    height: 460px;
    overflow: auto;
    margin-bottom: 44px;
}

/* WebKit Scrollbar */
.songslist::-webkit-scrollbar {
    width: 12px;
}

.songslist::-webkit-scrollbar-thumb {
    background-color: rgb(255, 87, 51);
    /* Color of the thumb */
    border-radius: 6px;
    /* Round corners of the thumb */
}

.songslist::-webkit-scrollbar-track {
    background-color: hsl(30, 100%, 60%)
        /* Color of the track */
        border-radius: 6px;
    /* Round corners of the track */
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}

.songslist ul {
    padding: 0 10px;
}

.songslist ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    padding: 12px 0;
    border: 3px solid rgb(255, 87, 51);
    margin: 12px 0;
    padding: 12px;
    border-radius: 5px;

}

.songslist .info {
    font-size: 15px;
    width: 344px;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 10px;
}

.seekbar {
    height: 4px;
    width: 99%;
    background: black;
    position: absolute;
    bottom: 0;
    border-radius: 6px;
    cursor: pointer;


}

.circle {
    width: 16px;
    height: 16px;
    border-radius: 13px;
    background-color: #000000;
    position: relative;
    bottom: 7px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img {
    cursor: pointer;
}

.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.songinfo {
    color: rgb(255, 255, 255);
    padding: 0 12px;
    width: 250px;
}

.songtime {
    color: rgb(255, 255, 255);
    padding: 0 12px;
    width: 120px;

}

.volume {
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 22px;
    cursor: pointer;
}
.range input{
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

@media (max-width: 1300px) {
    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 385px;
        background-color: hsl(30, 100%, 60%);
        /* Fix the background-color syntax */
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
        cursor: pointer;
        padding: 0;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .songinfo,
    .songtime {

        width: auto;
    }

    .hamburger {
        display: block;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 60px);
    }

    .seekbar {
        width: calc(100vw - 70px);
    }

    .card {
        width: 40vw;
    }

    .cardcontainer {
        margin: 0;
        justify-content: center;

    }

    .close {
        display: block;
    }

    .right {
        margin: 0;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }
    .cardcontainer {
       
        max-height: 50vh;
    }



}
@media (max-width: 500px) {
    .card {
        width:auto;
    }
}
